<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Divvy Bikes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E536382C1F01591F007DF893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E53638401F01591F007DF893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E536384B1F01591F007DF893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
